CONFIG_SOC_NRF52840_QIAA=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_PRODUCT="ZMK Keyboard"
CONFIG_USB_DEVICE_MANUFACTURER="Custom"
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_GPIO=y
CONFIG_SERIAL=n
CONFIG_CONSOLE=n
CONFIG_USB_DEVICE_DRIVER=y
CONFIG_USB_NRFX=y  
CONFIG_UART_INTERRUPT_DRIVEN=n